@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}
body {
  background-image: url(img/BG_try.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;
}
/** Text Gradient Example */
.txt-gradient {
  color: #7f15fa;
  background-image: linear-gradient(45deg, #7f15fa 73%, #ec46be 83%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-gradient:hover {
  color: #7f15fa;
  background-image: linear-gradient(45deg, #7f15fa 73%, #ec46be 83%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* navbar */
.custom-navbar {
  border-color: white;
}

.custom-navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* hero */

.hero-txt {
  width: 50%;
  margin-top: 7rem;
}
.hero-txt h1 {
  font-size: 5rem;
}
.hero-txt p {
  width: 70%;
}

/* hero button */
/* first btn */
.h-txt-btn .f-button {
  background-color: #040115;
  color: white;
  border: none;
  transition: transform 0.3s ease;
}
.h-txt-btn .f-button:hover {
  transform: scale(1.1);
}

.fa-share-from-square:hover,
.fa-message:hover {
  animation-name: rotate;
  animation-duration: 1s;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* second btn */
.h-txt-btn .s-button {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  transition: transform 0.3s ease;
}
.h-txt-btn .s-button:hover {
  transform: scale(1.1);
}

/* hero img */
.hero-img {
  width: 50%;
}
.hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* socaial Media */
.social-icon {
  display: inline-block;
  padding: 0.7rem;
  background-position: center;
  transition: background-color 0.3s;
}

.social-icon:hover {
  background-color: #102649;
}
/* hero responsive */
@media screen and (max-width: 768px) {
  .hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .hero-txt {
    width: 100%;
    margin-top: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .hero-txt h1 {
    font-size: 3rem;
  }
  .hero-img {
    width: 50%;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media screen and (max-width: 425px) {
  .hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .hero-txt {
    width: 100%;
    margin-top: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .hero-txt h1 {
    font-size: 2.2rem;
  }
  .hero-img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
  }
  .hero-img img {
    width: 250px;
    height: 250px;
    object-fit: cover;
  }
}
/* about-text */

.about-text {
  width: 50%;
}
.about-text h1 {
  font-size: 2.5rem;
}
.about-img {
  width: 50%;
}
.about-img img {
  width: 350px;
  height: 350px;
  object-fit: cover;
}
/* about btn */
.Portfolio-btn {
  background: rgb(53, 34, 195);
  background: linear-gradient(
    63deg,
    rgba(53, 34, 195, 1) 0%,
    rgba(45, 224, 253, 1) 100%
  );
}
/* about responsive */
@media screen and (max-width: 768px) {
  .about {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .about-text {
    width: 100%;
    margin-top: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .about-img {
    width: 50%;
    align-items: center;
    margin-top: 3rem;
    display: flex;
  }
  .about-img img {
    width: 250px;
    height: 250px;
    object-fit: cover;
  }
  /* about btn */
  .gradient-border {
    border: 2px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(45deg, #f3ec78, #af4261);
    background-color: transparent;
    color: #000;
    transition: background-color 0.3s ease;
  }

  .gradient-border:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
@media screen and (max-width: 425px) {
  .about {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .about-text {
    width: 100%;
    text-align: center;
  }
  .about-img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about-img img {
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
}
/* portfolio showcase */
.p-header p {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .p-header p {
    width: 100%;
    text-align: center;
  }
}
.t-gradient {
  color: rgb(245, 147, 19);
  color: linear-gradient(
    63deg,
    rgba(255, 145, 0, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}
/* portfolio-box */
.portfolio-box {
  background: rgb(7, 11, 36);
  background: linear-gradient(86deg, rgba(7, 11, 36) 0%, rgba(7, 12, 36) 100%);
  cursor: pointer;
}
.portfolio-item :hover {
  background-color: #c2181854;
  transform: scale(0.9);
}
.txt-edit:hover {
  transform: scale(0);
}
.fa-code:hover,
.fa-medal:hover,
.fa-microchip:hover {
  transform: scale(0);
}
/* portfolio card */
.card {
  background-color: #1e1e1e;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}
.card:hover {
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.1);
  transform: translateY(-5px);
}
.card-image {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
  border-radius: 8px;
}
.card-image a {
  display: block;
  width: 100%;
  height: 100%;
}
.card-image iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 300%;
  height: 300%;
  border: none;
  pointer-events: none;
  transform: scale(0.34);
  transform-origin: top left;
}
.card-content {
  padding: 16px;
}
.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #ffffff;
}
.card-description {
  font-size: 14px;
  color: #b0b0b0;
  margin-bottom: 16px;
}
.card-footer {
  padding: 12px 16px;
  background-color: #262626;
  border-top: 1px solid #333333;
}
.card-type {
  font-size: 14px;
  color: #888888;
}
.card-btn {
  background: none;
  border: none;
}
.card-button {
  padding: 8px 12px;
  background-color: #0077cc;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
}
.card-button:hover {
  background-color: #88c6f3;
}
/* Tech Card Styles */
.t-card{
  width: 150px;
  height: 150px;
  padding: 15px;
  background-color: #fff3f3da;
  border-radius: 10px;
}
.card-img{
  width: 70px;
  height: 70px;
}
