@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}
body {
  background-image: url(img/network-mesh-wire-digital-technology-background_1017-27428.avif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;
}
/** Text Gradient Example */
.txt-gradient {
  color: #7f15fa;
  background-image: linear-gradient(45deg, #7f15fa 73%, #ec46be 83%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-gradient:hover {
  color: #7f15fa;
  background-image: linear-gradient(45deg, #7f15fa 73%, #ec46be 83%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* hero */

.hero-txt {
  width: 50%;
  margin-top: 7rem;
}
.hero-txt h1 {
  font-size: 5rem;
}
.hero-txt p {
  width: 70%;
}

/* hero button */
/* first btn */
.h-txt-btn .f-button {
  background-color: #040115;
  color: white;
  border: none;
  transition: transform 0.3s ease;
}
.h-txt-btn .f-button:hover {
  transform: scale(1.1);
}

.fa-solid:hover {
  animation-name: rotate;
  animation-duration: 1s;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* second btn */
.h-txt-btn .s-button {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  transition: transform 0.3s ease;
}
.h-txt-btn .s-button:hover {
  transform: scale(1.1);
}

/* hero img */
.hero-img {
  width: 50%;
}
.hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* socaial Media */
.social-icon {
  display: inline-block;
  padding: 0.7rem;
  background-position: center;
  transition: background-color 0.3s;
}

.social-icon:hover {
  background-color: #102649;
}
/* hero responsive */
@media screen and (max-width : 768px) {
  .hero{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .hero-txt{
    width: 100%;
    margin-top: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
  }
  .hero-txt h1 {
    font-size: 3rem;
  }
  .hero-img {
    width: 50%;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .hero-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media screen and (max-width : 425px) {
  .hero{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .hero-txt{
    width: 100%;
    margin-top: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
  }
  .hero-txt h1 {
    font-size: 2.2rem;
  }
  .hero-img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    background-color: #7f15fa;
  }
  .hero-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

